header {
    background-image: url('../img/banner.webp'); /* asegúrate que sea el path correcto */
    background-size: cover;
    background-position: center 65%; /* muestra parte inferior */
    height: 250px; /* controla cuánto se ve de la imagen */
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    overflow: hidden;
  }
  
  
  section {
    padding: 1.5rem;
    max-width: 900px;
    margin: auto;
  }
  
  @media (max-width: 600px) {
    .producto {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .producto-img {
      width: 100%;
      height: auto;
    }
  }
  